html {
    font-family: 'Source Sans Pro', sans-serif;
}

body, html, .container, .row, .map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.fullscreen:-webkit-full-screen {
    height: 100%;
    margin: 0;
}

.fullscreen:-ms-fullscreen {
    height: 100%;
}

.fullscreen:fullscreen {
    height: 100%;
}

.fullscreen {
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
}

.ol-rotate {
    top: 3em;
}

.sidepanel {
    height: 100%;
    padding: 25px;
}

.sidepanel-title {
    width: 100%;
    font-size: 2.5em;
    display: block;
    margin-left: -8px !important;
}

.lat-lon-wrapper {
    margin-top: 20px;
}

.lat, .lon {
    font-size: 13pt;
    color: #5b5b5b;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #eaeaea;
}

.lat {
    border-right: 2px solid white;
}

.lon {
    border-left: 2px solid white;
}

.fetch-button-wrapper {
    width: 100%;
    margin-top: 10px;
}

.fetch-button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: white;
    font-weight: 300;
    border: 2px solid #394a6d;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.fetch-button:hover {
    background: #305c91;
    color: white;
    cursor: pointer;
}

.fetch-button:active {
    background: #305c91;
    color: white;
}

.fetch-button:disabled {
    background: #e5e5e5;
    border: 1px solid #dadada;
    color: white;
    cursor: default;
}

.fetch-button:disabled:active {
    background: #e5e5e5;
    color: graytext;
}

.geocontext-data-container {
    background-color: black;
    color: white;
}

.geocontext-data {
    display: none;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 350px;
}

pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 8pt;
}

.loading-container {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    display: none;
}

.response-time {
    display: none;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
    padding: 5px;
    color: #2e8042;
    background-color: #FFF8DC;
    border: 1px solid #e6dfc6;
}